body {
    margin: 0;
    width: 100%;
    height: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.89);
    margin: 0;
    padding: 5px;
}

button {
    background-color: rgba(0, 0, 0, 0.89);
    color: white;
    box-shadow: none;
}

#photobox-gallery {
    z-index: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.83);
}

.vignette {
    padding: 5px;
    margin: 5px;
    background-color: rgb(61, 61, 61);
    border-radius: 5px;
    color: white;
}

#lightbox_container {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 0;
}

#lightbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#lightbox-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#lightbox_title {
    color: white;
    font-size: 40px;
    font-family: "Arial Black", serif;
    padding: 0 5px 10px 5px;
}

#lightbox_close {
    font-family: "Arial Black", serif;
    position: fixed;
    left: 20px;
    top: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    border-radius: 50%;
    color: #ffffff;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 40px;
}

#lightbox-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.lightbox-info {
    color: white;
    padding: 0 5px 10px 5px;
    justify-content: center;
    border: 1px solid white;
    background-color: rgb(61, 61, 61);
    margin: 5px;
}

.lightbox-nomCarac {
    justify-content: center;
    font-family: "Arial Black", serif;
    border-bottom: 1px solid white;
}

#lightbox-commentaires {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.lightbox-commentaire {
    color: white;
    padding: 0 5px 10px 5px;
    justify-content: left;
    border: 1px solid white;
    background-color: rgb(61, 61, 61);
    margin: 5px;
}

.lightbox-commentaire-head {
    font-family: "Arial Black", serif;
    border-bottom: 1px solid white;
}

